.list-header {
  background: $off-white;
  border: 1px solid darken($off-white, 7%);
  color: $grey;
  display: flex;
  justify-content: space-between;
  padding: $s-size $m-size;
}

.list-item {
  border: 1px solid darken($off-white, 7%);
  border-top: none;
  color: $dark-grey;
  display: flex;
  flex-direction: column;
  padding: $s-size;
  text-decoration: none;
  transition: background .3s ease;
  &:hover {
    background: $off-white;
  }
  @media(min-width: $desktop-breakpoint) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: $s-size;
  }
}

.list-body {
  margin-bottom: $m-size;
  @media(min-width: $desktop-breakpoint){
    margin-bottom: $l-size;
  }
}

.list-item--message {
  align-items: center;
  color: $grey;
  justify-content: center;
  padding: $m-size;
  &:hover{
    background: none;
  }
}

.list-item__title {
  margin: 0;
  word-break: break-all;
}

.list-item__sub-title {
  color: $grey;
  font-size: $font-size-small;
}

.list-item__data {
  margin: $s-size 0 0 0;
  @media(min-width: $desktop-breakpoint) {
    margin: 0;
    padding-left: $s-size;
  }
}

.list-news {
  display: flex;
  justify-content: space-between;
  padding-top: $s-size;
  color: $dark-grey;
  text-decoration: none;
  transition: background .3s ease;
  &:hover {
    background: $off-white;
  }
}

.list-news__image {
  width: 332px;
  height: 186px;
  @media only screen and (max-width: $tablet-breakpoint) {
    width: 150px;
    height: 94px;
  }
  @media only screen and (max-width: $mobile-breakpoint) {
    width: 96px;
    height: 54px;
  }
}

.list-news__title {
  padding-left: $s-size;
  margin: 0;
  word-break: break-all;
  @media (max-width: $tablet-breakpoint) {
    font-size: $font-size-small;
  }
  @media (max-width: $mobile-breakpoint) {
    font-size: $font-size-extra-small;
  }
}

.list-news__description {
  font-size: $font-size-small;
  color: $grey;
  font-weight: 300;
  padding-left: $s-size;
  @media (max-width: $tablet-breakpoint) {
    display: none;
  }
}

.list-news__author {
  font-size: $font-size-extra-small;
  color: $grey;
  padding-left: $s-size;
}
